// $bp-mobile: 4px;
// $bp-tablet: 768px;
// $bp-tablet-horizontal: 1024px;
// $bp-desktop: 1200px;
// $bp-desktop-xl: 1440px;

// Typography
$font: "Poppins", sans-serif;

// Colors
$blue: #264065;
$blue-sky: #A9D6CB;
$text: #070D15;
$grey: #909090;


// $gradient-pink-orange: linear-gradient(180deg, $orange 0.04%, $magenta 100%);
// $gradient-pink-blue: linear-gradient(180deg, $blue-dark 0%, $magenta 99.92%);
// $gradient-white-white: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);